* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #B8AF8d url(/images/bg.png) repeat-y;
    background-position: center;
    font-size: 11px;
    font-family: "trebuchet ms", helvetica, sans-serif;
    color: #8C8C73;
    line-height: 16px;
}

a       { text-decoration: underline; color: #FF7800; }
a:hover { text-decoration: none; }

p { margin-bottom: 14px; }

img.pic { position: relative;  border:solid 1px #CCC; padding:5px; height:74px; }


img.floatleft { float: left; margin: 0px 14px 3px 0px; }


ul.linklist { list-style: none; }

ul.linklist li          { border-top: solid 1px #CCC; padding-top: 5px; margin: 5px 0px 0px 0px; }
ul.linklist li.first    { border-top: 0px; margin-top: 0px; padding-top: 0px; }
ul.linklist li.last     { text-align: right; border-top: solid 1px #CCC; padding-top: 5px; margin: 5px 0px 0px 0px; }


#outer {
    position: relative;
    width: 760px;
    margin: auto;
    background: #fff;
}

#inner {
    position: relative;
    padding: 10px 10px 10px 10px;
    z-index: 2;
}

#header {
    position: absolute;
    background: blue url('/images/gradient.png') repeat-x;
    width: 300px;
    height: 92px;
    color: #fff;
    padding-left: 20px;
    border:solid 1px #000;
}

#header span {
    font-weight: normal;
}

#header h1 {
    position: absolute;
    font-size: 23px;
    letter-spacing: -1px;
    top: 20px;
    left: 110px;
    height: 92px;
}

#header h2 {
    position: absolute;
    font-size: 10px;
    font-weight: normal;
    color: #FCE2CA;
    left: 110px;
    top: 51px;
}

#splash {
    position: absolute;
    right: 10px;
    background: #EAEAE2 url('/images/banner4.gif') no-repeat;
    border:solid 1px #000;
    width: 408px;
    height: 92px;
}

#menu {
    position: relative;
    background: #B8AF8d;
    height: 55px;
    padding: 0px 0px 0px 0px;
    margin: 98px 0px 0px 0px;
    border:solid 1px #000;
}

#menu ul {
}

#menu ul li
{
    display: inline;
    line-height: 52px;
    padding-left: 3px;
}

#menu ul li.first {
    border-left: 0px;
}

#menu ul li a {
    background-color: transparent;
    background-repeat: repeat-x;
    padding: 8px 12px 8px 12px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

#date {
    position: absolute;
    top: 0px;
    line-height: 52px;
    color: #FFF;
    right: 30px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -1px;
}


h3 {
    position: relative;
    top: 4px;
    color: #656552;
    line-height: 25px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

#secondarycontent {
    position: relative;
    width: 180px;
    float: right;
}

#secondarycontent h3 {
    font-size: 16px;
    padding: 0px 0px 0px 10px;
    margin-bottom: 20px;
}

#secondarycontent .content {
    padding: 0px 10px 0px 10px;
}

#primarycontent {
    position: relative;
    width: 520px;
    float: left;
}

#primarycontent h3 {
    font-size: 18px;
    line-height: 25px;
    padding: 0px 0px 0px 15px;
}

#primarycontent .content {
    padding: 0px 0px 0px 15px;
    margin-bottom: 20px;
}

#primarycontent .post {
    margin-bottom: 30px;
}

#primarycontent .post .header {
    position: relative;
}

#primarycontent .post .date {
    position: absolute;
    right: 15px;
    top: 0px;
    line-height: 35px;
    color: #AFAFA4;
    font-weight: bold;
}

#primarycontent .post .content {
    margin-bottom: 0px;
}

#footer {
    position: relative;
    clear: both;
    height: 26px;
    text-align: center;
    color: #A8A88D;
    border:solid 1px #CCC;
    padding:5px;
    top: 10px;
    bottom: 10px;
}

#footer a {
    color: #8C8C73;
}

#content ul {
    margin-left: 2em;
}

#content ol {
    margin-left: 2em;
}

#inlist p { margin-left: 4em; }

a[href ^="http:"] {
    padding-right: 20px;
    background: transparent url(/images/external.gif) no-repeat center right;
}

a[href ^="https:"] {
    padding-right: 20px;
    background: transparent url(/images/external.gif) no-repeat center right;
}

